body {
  background: #333;
}

.nav-logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 10%;
}

body,
nav {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(33, 32, 32);
  z-index: 1000;
  position: fixed;
  padding: 5px;
  top: 0;
  left: 0;
  width: 100%;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 5%;
}

ul li a {
  text-decoration: none;
  font-size: 25px;
  color: white;
  padding: 20px;
}

ul a:hover {
  color: rgba(255, 255, 255, 0.533);
}

ul a {
  margin-top: 10%;
}

.home a {
  color: rgba(255, 68, 0, 0.955);
  border-bottom: 3px solid orangered;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  z-index: 1;
  top: 90px;
}

.dropdown-content li a {
  text-align: start;
}

.dropdown-content li a:hover {
  color: rgba(255, 255, 255, 0.216);
}

.nav-item.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

.dropdown-content li a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 20px;
}

.dropdown-content li {
  width: 120px;
  border-bottom: 2px dotted orangered;
  margin-bottom: 10px;
  margin-right: 10px;
}

.btn a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.btn1 {
  background-color: rgba(47, 53, 66, 0);
  border-radius: 10px;
  border: 2px solid white;
  padding: 10px 20px;
  font-size: 16px;
  transition: transform 0.4s;
}

.button {
  display: flex;
  padding: 20px;
  gap: 15px;
}

.button {
  display: flex;
  padding: 20px;
  gap: 15px;
}
.button .btn1 {
  border-radius: 10px;
  border: 2px solid orangered;
  padding: 10px 20px;
  font-size: 16px;
  transition: transform 0.4s;
}
.button .btn4 {
  border-radius: 10px;
  padding: 10px 30px;
}
.button .btn {
  border: 1px solid orangered;
  background: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}
.button .btn a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.button .btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: orangered;
  z-index: -1;
  transition: 0.8s;
}
.button .btn4::before {
  bottom: 0;
  border-radius: 0% 0% 0 0;
}
.button .btn4::before {
  height: 180%;
}
.button .btn4:hover::before {
  height: 0%;
}
.button .btn1:hover {
  color: orangered;
}
.button .btn1::before {
  top: 0;
  border-radius: 0 0 0% 0%;
}
.button .btn1:hover::before,
.button .btn2:hover::before {
  height: 180%;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading h1 {
  color: orangered;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  text-decoration: underline;
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.about .about-left {
  width: 50%;
}
.about .about-left img {
  width: 85%;
  height: 60vh;
  margin-left: 40px;
  border-radius: 10px;
  margin-top: 20px;
}
.about .about-right {
  width: 50%;
}
.about .about-right p {
  color: #fff;
  margin-right: 50px;
}
.about .about-right span {
  background: orangered;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100px;
  padding: 8px 15px;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}
.about .about-right span:hover {
  background: #fff;
  color: #000;
}

.album {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.album .left-album {
  width: 50%;
  background: #5e5a5a;
  height: 50vh;
  overflow: scroll;
  overflow-x: hidden;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}
.album .left-album .song {
  display: flex;
  flex-direction: column;
}
.album .left-album .song p {
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
}
.album .left-album .song audio {
  width: 100%;
}
.album .right-album {
  width: 35%;
}
.album .right-album img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin-left: 20px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  animation: rotate 10s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.container .card {
  width: 250px;
  margin-bottom: 20px;
  background: #5e5a5a;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s;
  margin: 10px;
}
.container .card:hover {
  transform: scale(1.02);
}
.container .card .images {
  width: 100%;
}
.container .card .images img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.container .card .text {
  margin-top: 20px;
  color: #fff;
}
.container .card .text button {
  margin-top: 10px;
  padding: 10px 20px;
  background: orangered;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.container .card .text button:hover {
  background: #fff;
  color: orangered;
}

.video-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.banner {
  background-image: url("../images/banner.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin-top: 10px;
  background-position: center;
}/*# sourceMappingURL=about.css.map */