body {
    background: #333;
}

@import 'components/__navbar';
@import 'components/_about-us';
@import 'components/__album';
@import 'components/__event_video';
@import 'components/__team';

.banner {
    background-image: url('../images/banner.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    margin-top: 10px;
    background-position: center;
}
