
.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        color: orangered;
        text-align: center;
        margin-top: 50px;
        font-weight: bold;
        text-decoration: underline;
        
    }
}

.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    .about-left {
        width: 50%;
        img {
            width: 85%;
            height: 60vh;
            margin-left: 40px;
            border-radius: 10px;
            margin-top: 20px;
        }
    }

    .about-right {
        width: 50%;
        p {
            color: #fff;
            margin-right: 50px;
        }

        span {
            
            background: orangered;
            display: flex;
            justify-content: start;
            align-items: center;
            width: 100px;
            padding: 8px 15px;
            color: #fff;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            transition: .5s;
            
        }
        span:hover {
            background: #fff;
            color: #000;
        }
    }
}